::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #fef2f2;
}
::-webkit-scrollbar-thumb {
    background: #fca5a5b0;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fca5a5ff;
}
