.search{
    height: 2em;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 24px 6fr;
    align-self: center;
    background-color: var(--contrast-color);
    border-radius: 2em;
}

.search .icon{
    align-self: center;
    margin: 0;
    fill: var(--primary-color);
    width: 24px;
    height: 24px;
}

.search input[type=text]{
    display: flex;
    height: 1em;
    font-size: 1em;
    align-self: center;
    border: none;
    background-color: var(--contrast-color);
    outline: none;
}