.player{
    font-size: 0.8em;
    width: 98%;
    padding: 10px 1%;
    background-color: #303030;
    color: #d0d0d0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.player-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.player-title{
    margin: auto 0;
    grid-row: 1/3;
    text-align: left;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 1fr 1fr;
}

.player-title .icon{
    grid-row: 1/3;
    width: 64px;
    height: 64px;
}

.player-title .icon img{
    max-width: 64px;
    max-height: 64px;
    background-color: white;
}

.player-title .title{
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
}

.player-title .artist{
    margin: 0 10px;
    display: flex;
    align-items: flex-start;
}


.player-timeline{
    margin: auto 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.player-timeline .progress{
    overflow: hidden;
    margin: auto 0;
    background-color: grey;
    height: 0.3em;
    border-radius: 2px;
    cursor: pointer;
}

.player-timeline .player-time{
    padding: 0 10%;
    font-size: 0.9em;
}

/* 
.player-timeline input[type=range]{
    overflow: hidden;
    width: 70%;
    -webkit-appearance: none;
    background-color: #303030;
}

input[type=range]::-webkit-slider-runnable-track{
    border: none;
    height: 0.35em;
    background: grey;
    border-radius: 10px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background: white;
    margin-top: -1px;
    cursor: pointer;
    box-shadow: -80px 0 0 80px green;
}

input[type=range]::-webkit-slider-thumb:hover{
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    background: white;
    margin-top: -3px;
}

input[type=range]:focus {
    outline: none;
} */

.player-control{
    text-align: center;
}

.player-control .control-button{
    height: 100%;
    margin: auto;
    width: 1.8em;
    padding: 0px 12px;
}

.player-control .play{
    width: 2.5em;
}

.player-control .control-button:hover{
    color: grey;
}

.player-volume{
    display: flex;
    margin-left: auto;
    width: 30%;
    grid-row: 1/3;
    grid-column: 3;
}

@media only screen and (max-width: 1024px){
    .player-volume input{
        width: 50%;
    }
}

@media only screen and (max-width: 862px){
    input[type=range]{
        width: 60%;
    }
}

@media only screen and (max-width: 480px){
    .player-time{
        display: none;
    }
    .player-timeline input[type=range]{
        width: 100%;
    }
    .player-control .control-button{
        font-size: 1em
    }
}

.slider{
    overflow: hidden;
    margin: auto 0;
    background-color: grey;
    height: 0.3em;
    border-radius: 2px;
    cursor: pointer;
}

.slider input[type=range]{
    cursor: pointer;
    opacity: 0;
    margin: auto 0;
    float: right;
}