:root {
    --progress-color: rgb(255, 190, 190);
    --progress-color2: rgb(255, 160, 160);
}

html,
body,
#root {
    min-height: 100vh;
}

*:not(input) {
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #fef2f2;
}
::-webkit-scrollbar-thumb {
    background: #fca5a5;
}
::-webkit-scrollbar-thumb:hover {
    background: #f87171;
}

.progress {
    background: var(--progress-color);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.input {
    display: flex;
    flex-direction: column;
}

.input > label {
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.input > input {
    border: 1px solid black;
    height: 2.3rem;
    padding: 0.5rem 0.7rem;
}

input[type="range"] {
    -webkit-appearance: none;
    background: var(--progress-color2);
    height: 0.4rem;
    border-radius: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
}

.linkItem ~ .linkItem::before {
    content: ", ";
}

.playerArtistList {
    max-width: 80%;
}

.songPlayerGrid {
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .songPlayerGrid {
        grid-template-columns: 5rem 1fr;
    }
}
