:root {
    --progress-color: rgb(255, 190, 190);
}

*:not(input) {
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #fef2f2;
}
::-webkit-scrollbar-thumb {
    background: #fca5a5;
}
::-webkit-scrollbar-thumb:hover {
    background: #f87171;
}

.progress {
    background: var(--progress-color);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.input {
    display: flex;
    flex-direction: column;
}

.input > label {
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.input > input {
    border: 1px solid black;
    height: 2.3rem;
    padding: 0.5rem 0.7rem;
}

.linkItem ~ .linkItem::before{
    content: ', ';
}

.playerArtistList{
    max-width: 80%;
}