:root {
    --progress-color: rgb(255, 190, 190);
    --progress-color2: rgb(255, 160, 160);
}

html,
body,
#root {
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*:not(input) {
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #fef2f2;
}
::-webkit-scrollbar-thumb {
    background: #fca5a5;
}
::-webkit-scrollbar-thumb:hover {
    background: #f87171;
}

.progress {
    background: var(--progress-color);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.input {
    display: flex;
    flex-direction: column;
}

.input > label {
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.input > input {
    border: 1px solid black;
    height: 2.3rem;
    padding: 0.5rem 0.7rem;
}

input[type="range"] {
    -webkit-appearance: none;
    background: var(--progress-color2);
    height: 0.4rem;
    border-radius: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
}

.linkItem ~ .linkItem::before {
    content: ", ";
}

.playerArtistList {
    max-width: 80%;
}

.songPlayerGrid {
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .songPlayerGrid {
        grid-template-columns: 5rem 1fr;
    }
}

.react-contextmenu {
    background-color: rgb(254, 226, 226);
    border: 1px solid white;
    border-radius: 0.25rem;
    color: #373a3c;
    font-size: 16px;
    min-width: 160px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 0.5rem;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: black;
    background-color: rgb(254, 202, 202);
    border-color: rgb(254, 202, 202);
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
    padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu
    > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}
