:root {
    --primary-color: #404040;
    --secondary-color: #707070;
    --thirtiary-color: #a0a0a0;
    --contrast-color: #d0d0d0;
}

.queue{
    background-color: var(--secondary-color);
    padding: 0 1rem;
    overflow-y: scroll;
}

.queue .queueHeader{
    display: flex;
    align-items: baseline;
    align-content: flex-end;
    margin-left: auto;
}

.queue .queueHeader .controls{
    display: flex;
    margin-left: auto;
}

.queueHeader .controls .icons{
    fill: var(--contrast-color);
    width: 2em;
    height: 2em;
    margin: 5%;
}

.queueHeader .controls .active {
    fill:var(--primary-color);
}

.queueHeader .controls .active:hover, .queueHeader .controls .icons:hover {
    fill: var(--thirtiary-color);
}

.queueList{
    list-style-type: none;
    padding-left: 0;
}

.queueList li{
    padding: 3% 4%;
    display: grid;
    grid-template-columns: 1fr 3em 25px;
    grid-template-rows: 1fr 1fr;
}

.queueList li .title{
    width: 90%;
    white-space: nowrap;
    overflow: hidden !important;
}

.queueList li .album{
    font-size: 0.8em;
    grid-row: 2;
    width: 90%;
    white-space: nowrap;
    overflow: hidden !important;
}

.queueList li .duration{
    display: flex;
    align-self: center;
    grid-row: 1/3;
    grid-column: 2;
}

.queueList li .removeButton{
    width: 25px;
    height: 25px;
    grid-row: 1/3;
    grid-column: 3;
    cursor:pointer;
    display: flex;
    align-self: center;
}

.queueList .queueItem:hover{
    background-color: var(--primary-color);
}

.queueList .dragging{
    background-color: var(--thirtiary-color);
    color: var(--primary-color);
}

.queueList .queueActive{
    background-color: black;
    color: var(--contrast-color);
}

.queue .loading{
    margin: auto;
    color: #404040;
}