:root {
    --primary-color: #404040;
    --secondary-color: #707070;
    --thirtiary-color: #a0a0a0;
    --contrast-color: #d0d0d0;
}

.queue {
    background-color: var(--secondary-color);
    padding: 0 1rem;
    overflow-y: scroll;
}

.queue .queueHeader {
    display: flex;
    align-items: baseline;
    align-content: flex-end;
    margin-left: auto;
}

.queue .queueHeader .controls {
    display: flex;
    margin-left: auto;
}

.queueHeader .controls .icons {
    fill: var(--contrast-color);
    width: 2em;
    height: 2em;
    margin: 5%;
}

.queueHeader .controls .active {
    color: var(--primary-color);
}


.queue .loading {
    margin: auto;
    color: #404040;
}
